@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
*{
    padding: 0;
    margin: 0;
}
.start{
    background: url("//images03.nicepage.com/c461c07a441a5d220e8feb1a/67856f1065845df4bf9e75e6/dddd-min.jpg")no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 673px;
}
.start header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 74px;
    border: 1px solid #c0c0c0;
}
.start header .left img{
    color: #999999;
    font-size: 27px;
    margin-right: 70px;
}
.start header .right ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    color: #999999;
    font-size: 22px;
    margin-right: 70px;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
}
.start header .right{
    display: flex;
}
.start header .right input{
    background: none;
    outline: none;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    color: #999999;
}
.start header .right .input{
    display: flex;
    align-items: center;
    color: #999999;
    font-size: 17px;
    width: 250px;
    height: 38px;
    border: 2px solid #c0c0c0;
}
.start .center{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.start .center h1{
    width: 400px;
    font-weight: 900;
    font-size: 8rem;
    line-height: 1.1;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #111111;
    font-family: 'Oswald', sans-serif;
}
.start .center span{
    width: 400px;
    font-size: 1.875rem;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #111111;
    font-family: 'Roboto', sans-serif;
}
.start .center h5{
    width: 400px;
    font-weight: 900;
    font-size: 1rem;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #111111;
    font-family: 'Oswald', sans-serif;
}
.start .center a{
    color: #199999;
    text-decoration: none;
}
.solutions{
    width: 100%;
    height: 600px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.solutions .left{
    margin-top: 200px;

}
.solutions .left h1{
    width: 400px;
    font-weight: 900;
    font-size: 7rem;
    line-height: 1.1;
    margin-top: 25px;
    margin-bottom: 5px;
    color: #111111;
    font-family: 'Oswald', sans-serif;
}
.solutions .left span{
    width: 400px;
    font-size: 2.5rem;
    line-height: 1.1;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #201f1f;
    font-family: 'Roboto', sans-serif;
}
.solutions .right{
    margin-top: 200px;
}
.solutions .right .top{
    display: flex;
    flex-direction: column;
}
.solutions .right .top span{
    width: 600px;
    font-size: 1.5rem;
    line-height: 1.1;
    color: #201f1f;
    font-family: 'Roboto', sans-serif;
}
.solutions .right .top button{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 4px solid black;
    background: none;
    width: 120px;
    font-size: 1.2rem;
    margin-top: 20px;
}
.solutions .right .bottom{
    display: flex;
}
.solutions .right .bottom .box{
    width: 300px;
    height: 500px;
}
.solutions .right .box h1{
    font-weight: 900;
    font-size: 5rem;
    line-height: 1.1;
    margin-top: 25px;
    margin-bottom: 5px;
    color: #111111;
    font-family: 'Oswald', sans-serif;
}
.solutions .right .box h5{
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.1;
    margin-top: 25px;
    margin-bottom: 5px;
    color: #111111;
    font-family: 'Oswald', sans-serif;
}
.solutions .right .box span{
    font-size: 1rem;
    line-height: 1.5;
    color: #201f1f;
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
    margin-bottom: 5px;
}
.container{
    width: 100%;
    height: 791px;
    background: #333129;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .main{
    width: 740px;
    height: 791px;
    background-image: url('https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/d78c0b2cc3e75845ae42b1d0/pexels-photo-3584758.jpeg');
    background-position: 50% 50%;
    background-size: cover;
}
.container .sidebar{
    background: #ffffff;
    width: 400px;
    height: 791px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container .sidebar .box{
    width: 370px;
    height: 400px;
    margin-top: 50px;
}
.container .sidebar .box i{
    color: #808080;
    font-size: 1.5rem;
}
.container .sidebar .box h1{
    width: 400px;
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.1;
    margin-top: 25px;
    margin-bottom: 5px;
    color: #111111;
    font-family: 'Oswald', sans-serif;
}
.container .sidebar .box span{
    font-size: 1rem;
    line-height: 1.5;
    color: #201f1f;
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
    margin-bottom: 5px;
}
.slider{
    width: 100%;
    height: 750px;
    position: relative;

}
.mySlides{
    width: 1000px;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 300px;
}
.mySlides h1{
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.1;
    color: #111111;
    font-family: 'Oswald', sans-serif;
    margin-top: 50px;
}
.mySlides h5{
    font-size: 2rem;
    color: #393838;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
}
.mySlides span{
    font-size: 1rem;
    line-height: 1.1;
    color: #5d5b5b;
    font-family: 'Roboto', sans-serif;
}
.slideshow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 750px;
    
}
  
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 30px 30px 0;
    user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}  
/* Number text (1/3 etc) */
.numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
} 
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
.mySlides img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin-top: 50px;
}  
.idea{
    width: 100%;
    height: 804px;
    background-image: url('https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/373b50c18e5258b3a2e4de57/pexels-photo-1391404.png');
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
}
.idea .sidebar{
    background: #ffffff;
    width: 400px;
    height: 804px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 300px;
}
.idea .sidebar .box{
    width: 370px;
    height: 400px;
    margin-top: 50px;
}
.idea .sidebar .box i{
    color: #808080;
    font-size: 1.5rem;
}
.idea .sidebar .box h1{
    width: 400px;
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.1;
    margin-top: 25px;
    margin-bottom: 5px;
    color: #111111;
    font-family: 'Oswald', sans-serif;
}
.idea .sidebar .box span{
    font-size: 1rem;
    line-height: 1.5;
    color: #201f1f;
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
    margin-bottom: 5px;
}
.idea .sidebar .card{
    width: 100%;
    height: 400px;
    margin-top: 50px;
    background: black;
}
.idea .sidebar .card i{
    width: 400px;
    color: #ffffff;
    font-size: 1.5rem;
}
.idea .sidebar .card h1{
    width: 400px;
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.1;
    margin-top: 25px;
    margin-bottom: 5px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}
.idea .sidebar .card span{
    width: 400px;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
    margin-bottom: 5px;
}
.team{
    width: 100%;
    height: 596px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.team .img-box{
    width: 100%;
    height: 396px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team .img-box img{
    width: 212px;
    height: 220px;
    margin: 20px;
}
.team .article{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.team .article .logo i{
    font-size: 25px;
}
.team .article h1{
    font-weight: 900;
    font-size: 5rem;
    line-height: 1.1;
    margin-top: 25px;
    margin-bottom: 5px;
    color: #111111;
    font-family: 'Oswald', sans-serif;
}
.team .article span{
    font-size: 1rem;
    line-height: 1.5;
    color: #201f1f;
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
    margin-bottom: 5px;
}
.contact{
    width: 100%;
    height: 787px;
    display: flex;
    justify-content: space-around;
}
.contact .registratrion h1{
    width: 400px;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.1;
    margin-top: 25px;
    margin-bottom: 5px;
    color: #111111;
    font-family: 'Oswald', sans-serif;
}
.contact .registratrion input{
    width: 585px;
    height: 48px;
    border: 2px solid #c0c0c0;
    color: #5d5b5b;
    font-size: 17px;
}
.contact .registratrion label{
    color: #5d5b5b;
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    margin-top: 20px;
}
.contact .registratrion textarea{
    width: 585px;
    height: 125px;
    border: 2px solid #c0c0c0;
    margin-top: 10px;
}
.contact .registratrion button{
    width: 117px;
    height: 50px;
    border: 2px solid #c0c0c0;
    color: #a8a8a8;
    background: none;
    font-size: 20px;
    margin-top: 10px;
}
.contact .social h1{
    font-weight: 100;
    font-size: 5rem;
    line-height: 1.1;
    margin-top: 25px;
    margin-bottom: 5px;
    color: #5d5b5b;
    font-family: 'Oswald', sans-serif;
}
.contact .social .box .trangle{
    width: 64px;
    height: 64px;
    background-color: #b3b3b3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.contact .social .box .trangle i{
    color: #ffffff;
    font-size: 2.5rem;
}
.contact .social .box h4{
    color: #111111;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    margin-top: 10px;
}
.contact .social .box span{
    color: #333129;
    font-size: 1rem;
    margin-top: 10px;
}

@media (max-width:1024px) {
    
}
@media (max-width:768px ){
   
  
    
}
@media (max-width:767px) {
    .start{
        background: url("//images03.nicepage.com/c461c07a441a5d220e8feb1a/67856f1065845df4bf9e75e6/dddd-min.jpg")no-repeat;
        background-position: 50% 50%;
        width: 100%;
        height: 373px;
    }
    .start header{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 70px;
    }
    .start header .left img{
        font-size: 17px;
        margin-right: 1px;
    }
    .start header .right ul li{
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        font-size: 12px;
    }
    .start header .right input{
        font-size: 10px;
    }
    .start header .right .input{
        display: flex;
        align-items: center;
        font-size: 17px;
        width: 150px;
        height: 28px;
    }
    .start header .right i{
        margin-right: 25px;
    }
    .start .center{
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: column;
        margin-top: 5px;
    }
    .start .center h1{
        width: 300px;
        font-weight: 900;
        font-size: 3rem;
        line-height: 1.1;
        margin-top: 5px;
    }
    .start .center span{
        width: 300px;
        font-size: 1rem;
        line-height: 1.1;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .start .center h5{
        width: 300px;
        font-weight: 900;
        font-size: 1rem;
        line-height: 1.1;
        margin-top: 20px;
    }
    .solutions{
        width: 100%;
        height: 1000px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .solutions .left{
        margin-top: 10px;
    
    }
    .solutions .left h1{
        font-weight: 900;
        font-size: 2rem;
        line-height: 1.1;
        margin-top: 5px;
        margin-left: 100px;
    }
    .solutions .left span{
        font-size: 1rem;
        line-height: 1.1;
        margin-top: 5px;
        margin-left: 100px;
    }
    .solutions .right{
        margin-top: 10px;
    }
    .solutions .right .top{
        display: flex;
        flex-direction: column;
    }
    .solutions .right .top span{
        width: 300px;
        font-size: 1rem;
        line-height: 1.1;
        color: #201f1f;
        font-family: 'Roboto', sans-serif;
    }
    .solutions .right .top button{
        background: none;
        width: 100px;
        font-size: 1.2rem;
        margin-top: 10px;
    }
    .solutions .right .bottom{
        display: flex;
        flex-direction: column;
    }
    .solutions .right .bottom .box{
        width: 300px;
        height: 300px;
    }
    .solutions .right .box h1{
        font-weight: 900;
        font-size: 2rem;
        line-height: 1.1;
        margin-top: 5px;
        font-family: 'Oswald', sans-serif;
    }
    .solutions .right .box h5{
        font-weight: 900;
        font-size: 1.5rem;
        line-height: 1.1;
        margin-top: 5px;
    }
    .solutions .right .box span{
        font-size: 1rem;
        line-height: 1.5;
        margin-top: 5px;
    }
    .container{
        width: 100%;
        height: 1183px;
        background: #333129;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .container .main{
        width: 300px;
        height: 391px;
        background-image: url('https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/d78c0b2cc3e75845ae42b1d0/pexels-photo-3584758.jpeg');
        background-position: 50% 50%;
        background-size: cover;
    }
    .container .sidebar{
        background: #ffffff;
        width: 300px;
        height: 791px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .container .sidebar .box{
        width: 300px;
        height: 400px;
        margin-top: 50px;
    }
    .container .sidebar .box i{
        color: #808080;
        font-size: 1.5rem;
    }
    .container .sidebar .box h1{
        width: 300px;
        font-weight: 900;
        font-size: 2rem;
        line-height: 1.1;
        margin-top: 25px;
        margin-bottom: 5px;
        color: #111111;
        font-family: 'Oswald', sans-serif;
    }
    .container .sidebar .box span{
        font-size: 1rem;
        line-height: 1.5;
        color: #201f1f;
        font-family: 'Roboto', sans-serif;
        margin-top: 5px;
    }
    .slider{
        width: 100%;
        height: 750px;
        position: relative;
    
    }
    .mySlides{
        width: 300px;
        height: 850px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 300px;
    }
    .mySlides h1{
        font-weight: 900;
        font-size: 2rem;
        line-height: 1.1;
        color: #111111;
        font-family: 'Oswald', sans-serif;
        margin-top: 50px;
    }
    .mySlides h5{
        font-size: 2rem;
        margin-top: 5px;
    }
    .mySlides span{
        font-size: 1rem;
        line-height: 1.1;
    }
    .slideshow-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 750px;
        
    }
      
      /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 10px;
        margin-top: -22px;
        color: black;
        font-weight: bold;
        font-size: 25px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }  
    /* Number text (1/3 etc) */
    .numbertext {
        color: black;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    } 
    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
    .mySlides img{
        width: 250px;
        height: 250px;
        border-radius: 100%;
        margin-top: 50px;
    }  
    .idea{
        width: 100%;
        height: 904px;
        background-image: url('https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/373b50c18e5258b3a2e4de57/pexels-photo-1391404.png');
        background-position: 50% 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .idea .sidebar{
        background: #ffffff;
        width: 300px;
        height: 804px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 5px;
    }
    .idea .sidebar .box{
        width: 300px;
        height: 400px;
        margin-top: 5px;
    }
    .idea .sidebar .box i{
        color: #808080;
        font-size: 1.5rem;
    }
    .idea .sidebar .box h1{
        width: 300px;
        font-weight: 900;
        font-size: 2rem;
        line-height: 1.1;
        margin-top: 25px;
        margin-bottom: 5px;
        color: #111111;
        font-family: 'Oswald', sans-serif;
    }
    .idea .sidebar .box span{
        font-size: 1rem;
        line-height: 1.5;
        color: #201f1f;
        font-family: 'Roboto', sans-serif;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .idea .sidebar .card{
        width: 100%;
        height: 400px;
        margin-top: 50px;
        background: black;
    }
    .idea .sidebar .card i{
        width: 300px;
        color: #ffffff;
        font-size: 1.5rem;
    }
    .idea .sidebar .card h1{
        width: 300px;
        font-weight: 900;
        font-size: 2rem;
        line-height: 1.1;
        margin-top: 5px;
    }
    .idea .sidebar .card span{
        width: 300px;
        font-size: 1rem;
        line-height: 1.5;
        margin-top: 25px;
        margin-bottom: 5px;
    }
    .team{
        width: 100%;
        height: 1200px;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .team .img-box{
        width: 100%;
        height: 1070px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .team .img-box img{
        width: 212px;
        height: 220px;
        margin: 2px;
    }
    .team .article{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .team .article .logo i{
        font-size: 12px;
    }
    .team .article h1{
        font-weight: 900;
        font-size: 2rem;
        line-height: 1.1;
        margin-top: 5px;
        color: #111111;
        font-family: 'Oswald', sans-serif;
    }
    .team .article span{
        font-size: 1rem;
        line-height: 1;
        color: #201f1f;
        font-family: 'Roboto', sans-serif;
        margin-top: 5px;
    }
    .contact{
        width: 100%;
        height: 1187px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .contact .registratrion h1{
        width: 300px;
        font-weight: 900;
        font-size: 2rem;
        line-height: 1.1;
        margin-top: 25px;
        margin-bottom: 5px;
        color: #111111;
        font-family: 'Oswald', sans-serif;
    }
    .contact .registratrion input{
        width: 300px;
        height: 40px;
        border: 2px solid #c0c0c0;
        color: #5d5b5b;
        font-size: 17px;
    }
    .contact .registratrion label{
        color: #5d5b5b;
        font-size: 17px;
        font-family: 'Oswald', sans-serif;
        font-weight: bolder;
        margin-top: 10px;
    }
    .contact .registratrion textarea{
        width: 300px;
        height: 100px;
        border: 2px solid #c0c0c0;
        margin-top: 10px;
    }
    .contact .registratrion button{
        width: 100px;
        height: 50px;
        border: 2px solid #c0c0c0;
        color: #a8a8a8;
        background: none;
        font-size: 20px;
        margin-top: 10px;
    }
    .contact .social h1{
        font-weight: 100;
        font-size: 2rem;
        line-height: 1.1;
        margin-top: 25px;
        margin-bottom: 5px;
        color: #5d5b5b;
        font-family: 'Oswald', sans-serif;
    }
    .contact .social .box .trangle{
        width: 64px;
        height: 64px;
        background-color: #b3b3b3;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .contact .social .box .trangle i{
        color: #ffffff;
        font-size: 2.5rem;
    }
    .contact .social .box h4{
        font-size: 1.5rem;
        margin-top: 10px;
    }
    .contact .social .box span{
        font-size: 1rem;
        margin-top: 10px;
    }
    
    
}